@tailwind base;
@tailwind components;
@tailwind utilities;

.issue {
  margin: 0 auto;
  max-width: 1280px;
  grid-template-areas:
    "a"
    "b"
    "c";
}

.issue-desktop {
  grid-template-areas:
    "a b"
    "c b";
  grid-template-columns: 1fr 320px;
}

.issue > *:first-child {
  grid-area: a;
}
.issue > *:nth-child(2) {
  grid-area: b;
}
article {
  min-width: 300px;
}

/*  */
#root {
  display: flex;
}
.issue-list {
  min-width: 200px;
  min-height: 100vh;
  background-color: antiquewhite;
}
