@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--body-vertical-margin: 1rem
}
body {
  margin: var(--body-vertical-margin) 1rem;
  background-color: #b8b8b8;
}

/* Issue Details */
.issue {
  margin: 0 auto;
  max-width: 1280px;
  grid-template-areas:
    "a"
    "b"
    "c";
}

.issue-desktop {
  grid-template-areas:
    "a b"
    "c b";
  grid-template-columns: 1fr 320px;
}

.issue > *:nth-child(2) {
  grid-area: b;
}


/* APP container (layout?) */
@screen md {
  .app-container {
    max-height: calc(100vh - 2 * var(--body-vertical-margin));
  }
}

/* Isuue list containerß */
.issue-list {
  min-width: 200px;
  min-height: 100vh;
  background-color: antiquewhite;
}
